{% extends 'base.html.twig' %}

{% block title %}Sammelbestllung geschlossen{% endblock %}


{% block body %}

    <div class="container" style="margin-top: 1em;">
        <h3>Sammelbestellung wurde vom Organisator geschlossen 😢</h3>
        <p></p>
    </div>


{% endblock %}