{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



<style>
.stick:hover{
    margin-top: 0px;
}
.stick{
    float: right;
    min-width: 20px;
    min-height: 200px;
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 2px;
    /*z-index: 20;*/
    position: relative;
    
}
.stopstick{
    float: right;
    min-width: 20px;
    min-height: 200px;
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;

}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.centerobj{
    float: right;
}

.blindfold{
    position:relative;
    top: -100px;
    background-color: white;
    min-width: 100%;
    min-height:100px;
}
.endscreen{
    position: absolute;
    top: 40%;
    background-color: #808080de;
    min-width: 50%;
    height: 100px;
    border-radius: 15px;
    z-index: 20;
}

.endscreentext{
    position: relative;
    margin: 40px;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>
    <div class="center-screen">
        <div class="centerobj"></div>
        <div class="blindfold"></div>
    </div>
    <script>
        number=10
        losenumber=Math.floor(Math.random() * (number -1 + 1)+1)
        centerobj=document.getElementsByClassName("centerobj")
        centerobj=centerobj[0]
        for(i=0;i<losenumber-1;i++){
            centerobj.innerHTML+='<div class="stick" ><img src="Y:\\Eigene Dateien\\Downloads\\match.svg" ></div>'
        }
        centerobj.innerHTML+=src='<div class="stick" id="lose"><img src="Y:\\Eigene Dateien\\Downloads\\match2.svg" ></div>'
        for(i=0;i<number-losenumber;i++){
            centerobj.innerHTML+='<div class="stick" ><img src="Y:\\Eigene Dateien\\Downloads\\match.svg" ></div>'
        }
        
        function clicki(e){
            tar=e.target.parentElement
            if (tar.className === "stick"){
                anime({
                targets: tar,
                translateY: -150,
                zIndex: 2,
                })
            
                document.removeEventListener('click', clicki)
                sticks=document.getElementsByClassName("stick")
                Array.from(sticks).forEach(function(a){
                    console.log(a)
                    a.className="stopstick"
                })
                setTimeout(function(){
                    centerobj.style["opacity"]=0.5
                    if(tar.id==="lose"){
                        centerobj.parentElement.innerHTML+='<div class="endscreen"><p class="endscreentext">leider Pech gehabt :(</p></div>'
                    }
                    else{
                        centerobj.parentElement.innerHTML+='<div class="endscreen"><p class="endscreentext">Glück gehabt!</p></div>'
                    }
                    
                },2000)
            }

        }

        document.addEventListener('click', clicki)

    
    </script>
</body>




{% endblock %}
