{% extends 'base.html.twig' %}

{% block title %}Links{% endblock %}


{% block body %}

<div class="container" style="margin-top: 1em;">
    <label>Öffentliche Url</label> 
    <div class="input-group mb-3">
        <input type="text" class="form-control publicurltext" value={{ url('setParam', {link: sammelbestellung.PublicURL}) }} readonly></input>
        <div class="input-group-append">
            <button class="input-group-text publicurlbtn" id="basic-addon2">Copy URL</button>
        </div>
        <a class="btn btn-success" href="whatsapp://send?text={{ url('setParam', {link: sammelbestellung.PublicURL}, true) }}" data-action="share/whatsapp/share">
            <i class="fab fa-whatsapp fa-lg">
            </i>
        </a>
    </div>

    <label>Admin Url</label>
    <div class="input-group mb-3">
        <text id="adminUrl" class="form-control" type="text" readonly>{{ sammelbestellung.AdminURL }}</text>
        <div class="input-group-append">
            <button class="input-group-text" id="basic-addon2">Copy URL</button>
        </div>
    </div>
</div>

<script src="{{ asset('js/receivedUrls.js') }}"></script>

{% endblock %}